<div class="b-models row">
    <a name="models"></a>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Мы ремонтируем любые модели телефонов <span>Samsung</span></h2>
        <div class="wrap-filter" data-brand="samsung">
            <div class="series-filter">
                <p class="sign">Серия:</p>
                <span id="alpha">Galaxy Alpha/Mega</span>
                <span id="aSer">Galaxy A</span>
                <span id="cSer">Galaxy C</span>
                <span id="eSer">Galaxy E</span>
                <span id="grand">Grand</span>
                <span id="jSer">Galaxy J</span>
                <span id="note">Note</span>
                <span id="sSer">Galaxy S</span>
                <span id="xcover">Xcover</span>
            </div>
        
            <div class="models">
               <p class="sign">Модель:</p>
            </div>    
        </div>
        <div class="models-pic">
           <div class="model-pic-item">
            <img src="img/models/A9-Pro(SM-A9100).jpg" alt="">
            <p>A9 Pro(SM-A9100)</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/A3(SM-A300F).jpg" alt="">
            <p>A3 (SM-A300F)</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/S4(SM-i9500,i9502,i9505).jpg" alt="">
            <p>S4 (SM-i9500)</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/Note-7(SM-N930).jpg" alt="">
            <p>Note 7(SM-N930)</p>
        </div>
            
        </div>
    </div>    
</div>