<section class="banner row">
    <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h1>Фирменный сервисный центр <span>Xiaomi</span> в&nbsp;Минске</h1>
        <p>Наш сервисный центр специализируется на ремонте мобильных телефонов Xiaomi. Сертифицированные специалисты способны выполнить ремонт любой сложности в кратчайшие сроки. Благодаря собственному складу запчастей мы может быстро отремонтировать ваш смартфон, используя только оригинальные запчасти с завода производителя.</p>
        
        <div class="adv">
            <img src="img/rumiservice2_time.png" alt="">
            <span>Быстрая диагностика при владельце</span>
        </div>
        <div class="adv">
            <img src="img/rumiservice2_certificate.png" alt="">
            <span>Только оригинальные запчасти Xiaomi</span>
        </div>
        <div class="adv">
            <img src="img/rumiservice2_guaranty.png" alt="">
            <span>Гарантия на выполненные работы от 2-х месяцев</span>
        </div>
    </div>
</section>