<footer class="row">
    <div class="col-lg-3 col-lg-offset-2">
        <h2>Контактная информация</h2>
        <div class="address">
            <span>Минск, пр-т Независимости 40 (вход со двора)</span>
            <span>Режим работы: Пн-Пт с 9:00 до 18:00</span>
            <span>Телефон: +375 (29) 319-18-75</span>
        </div>
        <form action="">
            <input type="text" class="name" placeholder="Ваше имя">
            <input type="text" class="phone-num" placeholder="Номер телефона">  
            <button type="button" class="send">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                Заказать звонок
            </button>
        </form>
    </div>
</footer>