<header>
    <div class="top-line row">
        <div class="logo col-lg-1 col-lg-offset-2">
            <img src="img/logo.png" alt="">
        </div>
        <div class="col-lg-2 col-lg-offset-2">
            <div class="callback">
            <span class="glyphicon glyphicon-earphone orange" aria-hidden="true"></span>
            Обратный звонок   
            </div>
        </div>
        <div class="col-lg-2">
            <div class="phone">
                +375 (44) 743-62-78
            </div>
            <div class="location">
                Минск, ежедневно с 9:00 до 18:00
            </div>
        </div> 
    </div>
    <nav class="row">
        <ul class="col-lg-6 col-lg-offset-3">
            <li><a href="#">Сервисный центр</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Модели</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>    
    </nav>
</header>