<div class="how-we-work row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>Как мы работаем</h2>
        <div class="row">
            <div class="step col-lg-3">
                <img src="img/start1.png" alt="">
                <p>Оставьте заявку, позвоните или приходите в сервисный центр</p>
            </div>
            <div class="step col-lg-3">
                <img src="img/diagnosis1.png" alt="">
                <p>Мы cделаем бесплатную диагностику, после которой сообщим сроки и цену ремонта</p>
            </div>
            <div class="step col-lg-3">
                <img src="img/repair1.png" alt="">
                <p>С вашего согласия проведем ремонт или замену компонентов</p>
            </div>
            <div class="step col-lg-3">
                <img src="img/finish1.png" alt="">
                <p>Вы забираете готовый аппарат из ремонта</p>
            </div>
        </div>
    </div>
</div>