<div class="models row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Мы ремонтируем любые модели телефонов <span>Xiaomi</span></h2>
        
        <div class="series-filter">
            <span class="label">Серия:</span>
            <span id="mi">Mi</span>
            <span id="redmi">Redmi</span>
            <span id="redminote">Redmi Note</span>
            <span id="hongmi">Hongmi</span>
        </div>
        
        <div class="series">
           <p class="label">Модель:</p>
        </div>
        
        <div class="model">
            <img src="img/mi_max2-120x142.jpg" alt="">
            <p>Mi Max</p>
        </div>
        <div class="model">
            <img src="img/mi_max2-120x142.jpg" alt="">
            <p>Mi Max</p>
        </div>
    </div>    
</div>