<div class="models row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Мы ремонтируем любые модели телефонов <span>Xiaomi</span></h2>
        
        <div class="series-filter">
            <span class="label">Серия:</span>
            <span id="mi">Mi</span>
            <span id="redmi">Redmi</span>
            <span id="redmi-note">Redmi Note</span>
            <span id="hongmi">Hongmi</span>
        </div>
        
        <div class="series">
           <span class="label">Модель:</span>
        </div>
           
        <!-- <div class="series">
           
           <span>Mi Max</span>
            <span>Mi5 High</span>
            <span>Mi 4s</span>
            <span>Mi 5 Pro</span>
            <span>MiPad 2</span>
            <span>Mi4c</span>
            <span>Mi4i</span>
            <span>Mi Note Pro</span>
            <span>Mi Note</span>
            <span>Mi4 LTE</span>
            <span>Mi 6</span>
            <span>Mi 5c</span>
            <span>Mi Note 2</span>
            <span>Mi Max Prime</span>
            <span>Mi 5s Plus</span>
            <span>Mi 5s</span>
           
           
            <span>Redmi 3S</span>
            <span>Redmi 3X</span>
            <span>Redmi Pro</span>
            <span>Redmi 3S Pro</span>
            <span>Redmi 4 SE</span>
            <span>Redmi 4 HE</span>
            <span>Redmi 4A</span>
            <span>Redmi 2A</span>
            <span>Redmi 2 Prime</span>
            <span>Redmi Note 2</span>
            <span>Redmi 2 Pro</span>
            <span>Redmi 3</span>
        </div>
        <div class="series">
            <span>Redmi Note 3</span>
            <span>Redmi Note 2 Prime</span>
            <span>Redmi Note 4G Dual SIM</span>
            <span>Redmi Note 4</span>
            <span>Redmi Note 4х</span>
        </div>
        <div class="series">
            <span>Hongmi 2</span>
            <span>Hongmi 1S 4G</span>
            <span>Hongmi 1S 3G</span>
        </div> -->
        
        <div class="model">
            <img src="img/mi_max2-120x142.jpg" alt="">
            <p>Mi Max</p>
        </div>
        <div class="model">
            <img src="img/mi_max2-120x142.jpg" alt="">
            <p>Mi Max</p>
        </div>

    </div>    
</div>