<div class="b-models row">
    <a name="models"></a>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Мы ремонтируем любые модели телефонов <span>Xiaomi</span></h2>
        <div class="wrap-filter" data-brand="xiaomi">
            <div class="series-filter">
                <p class="sign">Серия:</p>
                <span id="mi">Mi</span>
                <span id="redmi">Redmi</span>
                <span id="redminote">Redmi Note</span>
                <span id="hongmi">Hongmi</span>
            </div>
        
            <div class="models">
               <p class="sign">Модель:</p>
            </div>    
        </div>
        <div class="models-pic">
           <div class="model-pic-item">
            <img src="img/models/Redmi 4 SE.jpg" alt="">
            <p>Redmi 4 SE</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/Mi 5s Plus.jpg" alt="">
            <p>Mi 5s Plus</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/Mi 5 High.jpg" alt="">
            <p>Mi 5 High</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/Redmi Note 2.jpg" alt="">
            <p>Redmi Note 2</p>
        </div>
            
        </div>
    </div>    
</div>