<div class="price row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Цены на услуги (работа + запчасти)</h2>
    
        <div class="price-table"> 
            <div class="row tr">
                <div class="th col-lg-6">Наименование услуги</div>
                <div class="th col-lg-3">Стоимость*</div>
                <div class="th col-lg-3">Время работы</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена стекла дисплея</div>
                <div class="col-lg-3 td">от 75 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена аккумулятора</div>
                <div class="col-lg-3 td">от 40 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена разъема питания</div>
                <div class="col-lg-3 td">от 42 руб.</div>
                <div class="col-lg-3 td">от 2 час</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена разъема наушников</div>
                <div class="col-lg-3 td">от 42 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Ремонт слухового динамика</div>
                <div class="col-lg-3 td">от 35 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена динамика звонка</div>
                <div class="col-lg-3 td">от 35 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена кнопки включения</div>
                <div class="col-lg-3 td">от 40 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена микрофона</div>
                <div class="col-lg-3 td">от 35 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена/ремонт корпуса</div>
                <div class="col-lg-3 td">от 40 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена камеры фронтальной/основной</div>
                <div class="col-lg-3 td">от 40 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Прошивка</div>
                <div class="col-lg-3 td">от 35 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Подбор графического ключа </div>
                <div class="col-lg-3 td">от 45 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Сохранение данных/контактов</div>
                <div class="col-lg-3 td">от 35 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена датчика приближения</div>
                <div class="col-lg-3 td">от 32 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Замена задней крышки</div>
                <div class="col-lg-3 td">от 45 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-lg-6 td">Ремонт кнопок громкости</div>
                <div class="col-lg-3 td">от 39 руб.</div>
                <div class="col-lg-3 td">от 2 час.</div>
            </div>
        </div><!-- /table -->
          
        <div class="show-all">Показать все</div> 
        <span class="footnote">* Точную стоимость работы с учетом запасной части и ее наличие на складе уточняйте по телефону</span>
</div>
</div>