<div class="service row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Нужен надежный сервисный центр?</h2>
        <p>Мы гарантируем вам быстрое и качественное выполнение ремонта любой сложности. Наши специалисты способны «вернуть к жизни» даже самый безнадежно сломанный телефон. Если вы уже получили несколько отказов в ремонте смартфона Xiaomi в других сервисах, мы готовы взяться за работу!</p>
        <div class="slider">
            <div class="slide">
                <img src="img/cell-phone-repair.jpg" alt="">
                <h3>Официальная гарантия</h3>
                <p>Мы даем гарантию, как на выполненную нами работу, так и на запчасти и комплектующие.</p>
            </div>
            <div class="slide">
                <img src="img/cell-phone-repair.jpg" alt="">
                <h3>Запчасти ко всем популярным моделям</h3>
                <p>Мы поддерживаем самый большой ассортимент запчастей для телефонов Xiaomi, если какой-то детали не оказалось на нашем складе, мы в кратчайшие сроки привезем ее под заказ. </p>
            </div>
            <div class="slide">
                <img src="img/cell-phone-repair.jpg" alt="">
                <h3>Быстро и качественно</h3>
                <p>Мы выполняем все работы по ремонту телефонов Xiaomi в кратчайшие сроки. Все наши специалисты сертифицированные инженеры, поэтому мы гарантируем высочайшее качество проведённых работ.</p>
            </div>
        </div>
    </div>    
</div>