<section class="b-service row">
    <div class="col-xs-12 col-md-6 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Нужен надежный сервисный центр?</h2>
        <p>Мы гарантируем вам быстрое и качественное выполнение ремонта любой сложности. Наши специалисты способны «вернуть к жизни» даже самый безнадежно сломанный телефон. Если вы уже получили несколько отказов в ремонте смартфона Xiaomi в других сервисах, мы готовы взяться за работу!</p>
        <div class="service row">
            <div class="item warranty col-xs-12 col-lg-4">
                <h3>Официальная гарантия до&nbsp;2-х месяцев</h3>
                <p>Мы даем гарантию, как на выполненную нами работу, так и на запчасти и комплектующие.</p>
            </div>
            <div class="item spare col-xs-12 col-lg-4">
                <h3>Оригинальные запчасти ко&nbsp;всем популярным моделям</h3>
                <p>Мы поддерживаем самый большой ассортимент запчастей для телефонов Xiaomi, если какой-то детали не оказалось на нашем складе, мы в кратчайшие сроки привезем ее под заказ.</p>
            </div>
            <div class="item speed col-xs-12 col-lg-4">
                <h3>Быстрая диагностика и&nbsp;качественный ремонт</h3>
                <p>Мы выполняем все работы по ремонту телефонов Xiaomi в кратчайшие сроки. Все наши специалисты сертифицированные инженеры, поэтому мы гарантируем высочайшее качество проведённых работ.</p>
            </div>
        </div>
    </div>    
</section>