<section class="b-service row">
    <a name="service"></a>
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Нужен надежный сервисный центр?</h2>
        <p>Мы гарантируем вам быстрое и качественное выполнение ремонта любой сложности. Наши специалисты способны «вернуть к жизни» даже самый безнадежно сломанный телефон. Если вы уже получили несколько отказов в ремонте смартфона Xiaomi в других сервисах, мы готовы взяться за работу!</p>
        <div class="service row">
            <div class="item warranty col-xs-12 col-md-6 col-lg-4">
                <h3>Официальная гарантия от&nbsp;4-х месяцев</h3>
                <p>На выполненную нами работу, установленные запчасти и комплектующие, мы даем гарантию от&nbsp;4&#8209;х месяцев.</p>
            </div>
            <div class="item spare col-xs-12 col-md-6 col-lg-4">
                <h3>Оригинальные запчасти ко&nbsp;всем популярным моделям</h3>
                <p>У нас самый большой ассортимент запчастей для телефонов Xiaomi, если какой-то детали не оказалось на нашем складе, мы найдем ее в кратчайшие сроки.</p>
            </div>
            <div class="item speed col-xs-12 col-md-6 col-lg-4">
                <h3>Быстрая диагностика и&nbsp;качественный ремонт</h3>
                <p>Мы выполняем диагностику и ремонт телефонов Xiaomi в кратчайшие сроки. Все наши специалисты сертифицированные инженеры, поэтому мы гарантируем высокое качество проведённых работ.</p>
            </div>
        </div>
    </div>    
</section>