/*!
autor: Karasik Vadim
project: 
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p{
    /*display: flex;*/
}

@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Medium";
    src: url("../fonts/HelveticaNeueCyr-Medium.eot");
    src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Thin";
    src: url("../fonts/HelveticaNeueCyr-Thin.eot");
    src: url("../fonts/HelveticaNeueCyr-Thin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Light";
    src: url("../fonts/HelveticaNeueCyr-Light.eot");
    src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Bold";
    src: url("../fonts/HelveticaNeueCyr-Bold.eot");
    src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@brand-color: #ff4900;

body{
    font-size: 62.5%;
    font-family: "HelveticaNeueCyr-Roman", Arial, Helvetica, sans-serif;  
}

header{
    padding: 30px 0;
    
    >div{
        @media(max-width: 768px){
             margin-bottom: 15px;    
        }
    }

    .callback{
        display: block;
        padding: 15px 5px;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        font-size: 150%;
        color: #818181;
        vertical-align: top;
        background: transparent;
        width: 100%;
        
        &:hover{
            background-color: #fafafa;
            border-color: #d6d6d6;
            cursor: pointer;
        }
        
        span{margin-right: 5px;}
        
        .brand-color{color: @brand-color;}
    }
    
    .phone{
        display: block;
        font-size: 250%;
        color: @brand-color;
        font-family: "HelveticaNeueCyr-Thin", sans-serif;
        text-decoration: none;
        text-align: center;
        
        &:hover,&:active{
        text-decoration: none;    
        }
    }
    
    .location{
        display: block;
        font-size: 140%;
        color: #818181;
        margin-top: 5px;
        text-align: center;
    }  
}

nav{
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    
    @media(max-width: 768px){padding: 10px 0;}
    
    ul{
        li{
            display: inline-block;
            padding: 0 30px;
            border-left: 1px solid #dfdfdf;
            
           @media(max-width: 768px){
                display: block;
                margin: 20px;
                text-align: left;
                padding: 5px 0;
                border-left: none;
                border-bottom: 1px solid #dfdfdf;
            }
            
            a{
                color: #3b3b3b;
                font-size: 160%;
                font-family: "HelveticaNeueCyr-Medium", sans-serif;
                text-decoration: none;
                
                &:hover{
                    text-decoration: none;
                    color: @brand-color;
                }
            }
            
            &:first-child{
                border: none;
                padding-left: 0;
                
                @media(max-width: 768px){border-bottom: 1px solid #dfdfdf;}   
            }
        }
    }
}

.banner{
    padding: 40px 0;
    background: url('../img/2.jpg') no-repeat;
    
    h1{
        font-family: "HelveticaNeueCyr-Thin", sans-serif;
        font-size: 500%;
        line-height: 1.1;
        margin-bottom: 20px;
        
        @media(max-width: 768px){
            font-size: 400%;
        }
    
        span{color: @brand-color;}
    }
    
    p{
        font-size: 180%;
        line-height: 1.4;
        margin-bottom: 30px;
        
        @media(max-width: 768px){
            font-size: 160%;
        }
    }
    
    .adv{
        font-size: 180%;
        margin-top: 7px;
        
        @media(max-width: 768px){
            font-size: 160%;
        }
        
        span{
            vertical-align: top;
            line-height: 2;
            margin-left: 10px;
        }
    }
}

.price{
    padding: 40px 0;
    
    .price-table{
        font-size: 160%;
        margin-bottom: 30px;
        
        @media(max-width: 768px){
            font-size: 130%;
        }
    
        .tr{
            text-align: center;

            .th{
                padding: 25px 15px;
                border-left: 1px solid #ffffff;
                border-bottom: 1px solid #ffffff;
                font-family: "HelveticaNeueCyr-Medium", sans-serif;
                color: #ffffff;
                background: #6f6f6f;

                &:first-child{
                    text-align: left;
                    border-left: none;
                    padding-left: 15px;
                }
            }

            .td{
                padding: 20px 0;
                border-left: 1px solid #ffffff;

                &:first-child{
                    border: none;
                    text-align: left;
                    padding-left: 15px;
                }
            }

            &:nth-child(odd){
                background: #f2f2f2;    
            }    
        }
    }
    
    .footnote{
        display: inline-block;
        font-size: 140%;
        margin: 15px 0;
        padding: 0 10px;
        color: #8d8d8d
    }
}

h2{
    font-family: "HelveticaNeueCyr-Thin", sans-serif;
    font-size: 360%;
    line-height: 1.1;
    color: #3b3b3b;
    text-align: center;
    margin-bottom: 30px;
    
    @media(max-width: 768px){font-size: 300%;}
    
    span{color: @brand-color;}
}

.show-all{
    background: @brand-color;
    border-radius: 3px;
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
    font-size: 160%;
    cursor: pointer;
    
    &:hover{background: #ff5d1e;}
}


.how-we-work{
    padding: 40px 0;
    //background: linear-gradient(to bottom, #fd8a37, #f4580e);
    background: #ff4900;
        
        h2{
            color: #ffffff;
        }
    
    .step{
        display: inline-block;
        text-align: center;
        
        p{
            color: #ffffff;
            font-size: 160%;
            line-height: 1.3;
            margin: 20px 0;
            
        }

        
    }
}

.models{
    padding: 40px 0;
    background: #F7F7F7;
    
    
    .series,.series-filter{
        background: #ffffff;
        padding: 15px;
        border-radius: 3px;
        font-size: 150%;
        
        .label{
            color: black;
            border: none;
        }
        
        span{
            display: inline-block;
            border: 1px solid #dddddd;
            padding: 10px 10px;
            min-width: 120px;
            text-align: center;
            border-radius: 3px;
            margin: 0 10px 10px 0;
            
        }
    }
    
    .activ{
        background: #ff4900;
        color:#fff;
        border:none;
    }
    
    .model{
        display: inline-block;
        background: #ffffff;
        margin: 20px 5px 20px 0;
        padding: 30px 40px;
        text-align: center;
        font-size: 150%;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        
        p{
            margin-top: 10px;
        }
        
    }
}

.service{
    padding: 40px 0;
    background: #F7F7F7;
    
    p{
        text-align: center;
        font-size: 180%;
        line-height: 1.4;
    }
    
    .slider{
        margin: 40px 0;
        
        .slide{
            clear: both;
            
            p{
                text-align: left;
            }
        }
        
        h3{
            font-size: 200%;
            font-family: "HelveticaNeueCyr-Thin", sans-serif;
            
        }
        
        img{
            width: 20%;
            float: left;
        }
    }
}

.problems{
    padding: 40px 0;
    background: url('../img/problems_bg.png');
    
    h2{margin-bottom: 50px;}
}

footer{
    background: url('../img/footer_bg.jpg') no-repeat;
    padding: 40px 0 100px;
    
    h2{text-align: left;}

    input{
        display: block;
        width: 100%;
        padding: 15px 0 15px 40px;
        border-radius: 3px;
        border: 1px solid #dfdfdf;
        font-size: 160%;
        margin-bottom: 20px;
    
        &.phone-num{background: url('../img/phone-icon.png') 3% 50% no-repeat;}

        &.name{background: url('../img/name-icon.png') 3% 50% no-repeat;}    
    }
    
    .send{
        display: block;
        width: 100%;
        color: #ffffff;
        background: #FF4900;
        padding: 15px 0;
        text-align: center;
        border: none;
        border-radius: 3px;
        font-size: 150%;
        font-family: "HelveticaNeueCyr-Roman", Arial, Helvetica, sans-serif;
        font-weight: normal;
        
        &:hover{background: #ff5d1e;}
        
        span{margin-right: 10px;}
    }
    
    .address{
        font-size: 200%;
        color: #696969;
        font-family: "HelveticaNeueCyr-Thin", Arial, Helvetica, sans-serif;
        margin-bottom: 25px;
        
        span{
            display: block;
            margin-bottom: 7px;
        } 
    }
}

.map{
    margin: 0 -15px 0;
    padding: 0;
}