<div class="b-models row">
    <a name="models"></a>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Мы ремонтируем любые модели телефонов <span>Sony</span></h2>
        <div class="wrap-filter">
            <div class="series-filter">
                <p class="sign">Серия:</p>
                <span id="xzSer">Xperia Z</span>
                <span id="xlSer">Xperia L</span>
                <span id="xmSer">Xperia M</span>
                <span id="xvSer">Xperia V</span>
                <span id="xcSer">Xperia C</span>
                <span id="xeSer">Xperia E</span>
                <span id="xtSer">Xperia T</span>
                <span id="xspSer">Xperia SP</span>
                <span id="xxSer">Xperia X</span>
            </div>
        
            <div class="models">
               <p class="sign">Модель:</p>
            </div>    
        </div>
        <div class="models-pic">
           <div class="model-pic-item">
            <img src="img/models/Z-Ultra(C6802).jpg" alt="">
            <p>Z Ultra(C6802)</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/C4-Ultra(E53XX).jpg" alt="">
            <p>C4-Ultra(E53XX)</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/E1(D20XX).jpg" alt="">
            <p>E1(D20xx)</p>
        </div>
        <div class="model-pic-item">
            <img src="img/models/XA(F31XX).jpg" alt="">
            <p>XA(F31XX)</p>
        </div>
            
        </div>
    </div>    
</div>