<section class="b-price row">
    <a name="price"></a>
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Цены на услуги (работа&nbsp;+&nbsp;запчасти)</h2>
    
        <div class="price-table"> 
            <div class="row tr">
                <div class="th col-xs-6">Наименование услуги</div>
                <div class="th col-xs-3">Стоимость</div>
                <div class="th col-xs-3">Время</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена модуля дисплея/экрана</div>
                <div class="col-xs-3 td">от 70 руб.</div>
                <div class="col-xs-3 td">1 день</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена стекла дисплея</div>
                <div class="col-xs-3 td">от 75 руб.</div>
                <div class="col-xs-3 td">до 3 дней</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена тачскрина/сенсорного экрана</div>
                <div class="col-xs-3 td">от 35 руб.</div>
                <div class="col-xs-3 td">1 день</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена аккумулятора</div>
                <div class="col-xs-3 td">от 40 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена разъема питания</div>
                <div class="col-xs-3 td">от 42 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена разъема наушников</div>
                <div class="col-xs-3 td">от 42 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Ремонт слухового динамика</div>
                <div class="col-xs-3 td">от 35 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена динамика звонка</div>
                <div class="col-xs-3 td">от 35 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена кнопки включения</div>
                <div class="col-xs-3 td">от 40 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена микрофона</div>
                <div class="col-xs-3 td">от 35 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена/ремонт корпуса</div>
                <div class="col-xs-3 td">от 40 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена камеры фронтальной/основной</div>
                <div class="col-xs-3 td">от 40 руб.</div>
                <div class="col-xs-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Прошивка</div>
                <div class="col-xs-3 td">от 35 руб.</div>
                <div class="col-xs-3 td">от 1 час.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Восстановление после попадания воды</div>
                <div class="col-xs-3 td">от 45 руб.</div>
                <div class="col-xs-3 td">от 2 дней.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Сохранение данных/контактов</div>
                <div class="col-xs-3 td">от 35 руб.</div>
                <div class="col-xs-3 td">от 1 час.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена датчика приближения</div>
                <div class="col-xs-3 td">от 32 руб.</div>
                <div class="col-xs-3 td">от 2 час.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Замена задней крышки</div>
                <div class="col-xs-3 td">от 45 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
            <div class="row tr">
                <div class="col-xs-6 td">Ремонт кнопок громкости</div>
                <div class="col-xs-3 td">от 39 руб.</div>
                <div class="col-xs-3 td">от 30 мин.</div>
            </div>
        </div><!-- /table -->
          
        <div class="show-all">Показать все</div> 
        <span class="footnote">* Точная цена и время ремонта зависят от наличия на складе запасных частей. Уточнить точную стоимость и срок ремонты вы можете по телефону +375 44 768-62-63</span>
    </div>
</section>