<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ремонт Samsung</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.min.css" rel="stylesheet">
        <script src="js/jquery-3.2.1.min.js" defer></script>
        <script src="js/script.js" defer></script>
        <script src="https://www.gstatic.com/charts/loader.js" defer></script>
        <script src="js/piechart.js" defer></script>

    </head>
    <body>
        <div class="container-fluid">
            //= include/header.html
            //= include/nav.html
            //= include/banner.html
            //= include/service.html
            //= include/models.html
            //= include/workstep.html
            //= include/problems.html
            //= include/price.html
            //= include/footer.html
        </div>
            //= include/counter.html
    </body>
</html>